<% @shelters.each do |shelter| %>
  <p>
    <%= shelter.name %>
    <%= link_to "Delete", delete_shelter_path(shelter) %>
  </p>
<% end %>

<div id='pending-shelters'>
<h3>Shelter's with Pending Applications</h3>

<% @pending_pets.each do |pet| %>
  <%= pet.shelter.name %><br>
  <br>
<% end %>
</div>